{% extends 'ecom/base.html' %}
<!-- About Us Start -->
{% load static %}




{% block title %}
    About Us
{% endblock title %}


{% block head %}
<link rel="stylesheet" href="{% static 'ecom/assets/css/about.css' %}" />
{% endblock head %}
  

{% block main %}
    

    
    
<section class="about-us mx-auto section-padding">
    <div class="container">
      <div class="row">
        <div class="about-text">
          <div class="col-md-10 col-11">
            <h2>About US</h2>
          </div>
          <div class="col-md-12 col-11 mt-3">
            <p>
              In this dynamic and competitive world, exhibiting your talent, skills and fines are of utmost importance in order to stand out and to be visible to others. Be it a job interview, a college application or any other recruitment process, showcasing your strengths and achievements is probably the most crucial step. You nail this step proficiently and you are one step closer to your dreams and Websyter assists you in this very step. 
We arrange all necessary items like your Resume, Portfolio, etc., to make you as competent as possible. All these are allocated and kept in a very collective and orderly manner, making them easily accessible. 
We only have one goal- to make YOU be highlighted and visible.

            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us End -->

  <!-- Our Vision Start -->
  <section class="our-vision d-flex mx-auto section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-11">
          <div class="our-vision-text">
            <h2>Our Vision</h2>
            <p class="mt-3">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Laboriosam expedita vitae ex vero labore necessitatibus vel
              consequuntur ipsa eaque. Atque voluptatem perferendis nemo earum
              eum, ut magni odit consequatur odio in id voluptas, corporis
              velit. Nam totam quis doloremque, doloribus architecto quia
              dignissimos repellendus corporis vitae eaque fugit laborum vel.
            </p>
          </div>
        </div>
        <div class="col-md-5 col-11">
          <div class="our-vision-img justify-content-center align-items-center">
            <figure>
              <img src="{% static 'ecom/assets/img/our-vision-img.png' %}" alt="students" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Vision End -->

  <!-- Meet Our Team Srart -->
  <!-- <section class="team d-flex mx-auto section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-11">
          <div class="section-title">
            <h2>Meet Our Team</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 col-11 mt-5">
          <div class="card card-style">
            <div class="card-body text-center">
              <img src="assets/img/team/Salman Promon-min.jpg" alt="Salman-promon" class="rounded-circle" width="60%">
              <h3 class="card-title mt-2 mb-1">Salman Promon</h3>
              <span class="mb-2">Chief Executive Officer (CEO)</span>
              <p class="mb-3 mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium incidunt libero illum ipsa voluptate eligendi!</p>
              <ul class="list-inline mt-3">
                <li class="list-inline-item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-11 mt-5">
          <div class="card card-style">
            <div class="card-body text-center">
              <img src="assets/img/team/Yusha-Araf-2.jpg" alt="Yusa-Araf" class="rounded-circle" width="60%">
              <h3 class="card-title mt-2 mb-1">Yusha Araf</h3>
              <span class="mb-2">Chief Operating Officer (COO)</span>
              <p class="mb-3 mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium incidunt libero illum ipsa voluptate eligendi!</p>
              <ul class="list-inline mt-3">
                <li class="list-inline-item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-11 mt-5">
          <div class="card card-style">
            <div class="card-body text-center">
              <img src="assets/img/team/MD.-Hasanur-Rahman-min.jpg" alt="MD. Hasanur Rahman" class="rounded-circle" width="60%">
              <h3 class="card-title mt-2 mb-1">MD. Hasanur Rahman</h3>
              <span class="mb-2">Chief Technology Officer (CTO)</span>
              <p class="mb-3 mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium incidunt libero illum ipsa voluptate eligendi!</p>
              <ul class="list-inline mt-3">
                <li class="list-inline-item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- Meet Our Team End -->
  <!-- Ready to Get Section Start -->
  <section class="ready-to-get d-flex mx-auto section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="left-img">
            <figure><img src="{% static 'ecom/assets/img/get-ready.png' %}" alt="get-ready" width="100%"></figure>
          </div>
        </div>
        <div class="col-md-7 mx-auto right-items">
          <div class="right-text justify-content-center align-items-center d-flex">
            <h2>Ready to get your personal website and CV?</h2>
          </div>
          <div class="right-button justify-content-center align-items-center d-flex">
            <button type="button" class="btn btn-secondary"><a href="">Get-Started</a></button>
          </div>
        </div>
      </div>
    </div>
  </section>



  {% endblock main %}
  <!-- Ready to Get Section End -->