 <!-- News & Blog Start -->
 {% load  static %}
    <div id="blog" class="our-blog section section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-11 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
            <div class="section-heading">
              <h2>Check Out What Is <em>Trending</em> In Our Latest <span>News</span></h2>
            </div>
          </div>
          <!-- <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
            <div class="top-dec">
              <img src="images/blog-dec.png" alt="">
            </div>
          </div> -->
        </div>
        <div class="row">
          <div class="col-md-6 col-11 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
            <div class="left-image">
              <a href="#"><img src="{% static 'ecom/assets/img/blog-thumb-01.png' %}" alt="Workspace Desktop"></a>
              <div class="info">
                <div class="inner-content">
                  <ul>
                    <li><i class="fa fa-calendar"></i> 24 Jun 2021</li>
                    <li><i class="fa fa-users"></i> websytar</li>
                    <li><i class="fa fa-folder"></i> Scholarship</li>
                  </ul>
                  <a href="#"><h4>Importance of Personal Website &amp; Appropriate CV/ Resume</h4></a>
                  <p>Lorem ipsum dolor sit amet, consectetur and sed doer ket eismod tempor incididunt ut labore et dolore magna...</p>
                  <div class="main-blue-button">
                    <button type="button" class="btn btn-secondary">Discover More</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-11 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.25s">
            <div class="right-list">
              <ul>
                <li>
                  <div class="left-content align-self-center">
                    <span><i class="fa fa-calendar"></i> 18 Jun 2021</span>
                    <a href="#"><h4>Scholarship, Job &amp; Internship Opportunities</h4></a>
                    <p>Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...</p>
                  </div>
                  <div class="right-image">
                    <a href="#"><img src="{% static 'ecom/assets/img/blog-thumb-01.png' %}" alt=""></a>
                  </div>
                </li>
                <li>
                  <div class="left-content align-self-center">
                    <span><i class="fa fa-calendar"></i> 14 Jun 2021</span>
                    <a href="#"><h4>Personal Website &amp; Good looking CV</h4></a>
                    <p>Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...</p>
                  </div>
                  <div class="right-image">
                    <a href="#"><img src="{% static 'ecom/assets/img/blog-thumb-01.png' %}" alt=""></a>
                  </div>
                </li>
                <li>
                  <div class="left-content align-self-center">
                    <span><i class="fa fa-calendar"></i> 06 Jun 2021</span>
                    <a href="#"><h4>Websytar &amp; Students Opinions</h4></a>
                    <p>Lorem ipsum dolor sit amsecteturii and sed doer ket eismod...</p>
                  </div>
                  <div class="right-image">
                    <a href="#"><img src="{% static 'ecom/assets/img/blog-thumb-01.png' %}" alt=""></a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- News & Blog End -->