<!-- Services Section Start -->
    <!-- Services-1 -->
    {% load static %}
    <section class="services-1 section section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-12 mx-auto">
              <div class="services-1-img">
                <figure>
                  <img src="{% static 'ecom/assets/img/ser-1.png' %}" alt="personal-website">
                </figure>
              </div>
            </div>
            <div class="col-md-6 col-11">
              <div class="section-title">
                <h2>Personal <span>website</span></h2>
              </div>
              <div class="services-1-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, non? Assumenda dignissimos quam error soluta adipisci suscipit asperiores tempore ducimus!</p>
              </div>
              <div class="services-1-btn pt-3">
                <a href="{% url 'service_web' %}" class="btn btn-2">Get Started</a>

              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Services-2 -->
      <section class="services-2 section section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-11 mx-auto">
              <div class="section-title">
                <h2><span>cv</span> Creator</h2>
              </div>
              <div class="services-1-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, non? Assumenda dignissimos quam error soluta adipisci suscipit asperiores tempore ducimus!</p>
              </div>
              <div class="services-1-btn pt-3">
                <button type="button" class="btn btn-2">Get Started</button>
              </div>
            </div>
              <div class="col-md-6 col-11">
                <div class="services-2-img">
                  <figure>
                    <img src="{% static 'ecom/assets/img/ser-2.png' %}" alt="personal-website">
                  </figure>
                </div>
              </div>
          </div>
        </div>
      </section>
      <!-- Services Section End -->