    <!-- Home Section Start -->
    {% load static %}
    <section class="home d-flex align-items-center">
        <div class="effect-wrap">
          <i class="fas fa-plus effect effect-1"></i>
          <i class="fas fa-plus effect effect-2"></i>
          <i class="fas fa-circle-notch effect effect-3"></i>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-11 home-text">
              <h1>Stay Visible <br> Stay Connected </h1>
                <h3>Make yourself more noticeable! <br>We are here to create your personal Website, CV/Resume </br> 
              </h3>
              <div class="namecheap-search">
                <div id="ir_wrapper" style="margin: 0px; max-width: 80%;"> 
                  <h4 style="margin: 2em 0px 0px; font-size: 1em; line-height: 1.5em; font-weight: 500; 
                  color: #fff; font-family: 'Raleway', sans-serif;">Find your domain here</h4> 
                  <form id="ir_form" method="GET" target="_blank" action="https://namecheap.pxf.io/c/2831101/386170/5618"> 
                    <div class="nc-search" role="search" style="position: relative; display: flex; flex-flow: row wrap; margin: 0px auto; 
                    padding: 0.75em 0px 0px; font-family: 'Raleway', sans-serif;"> 
                    <input id="ir_link" name="u" type="hidden">
                    <input id="ir_domain" name="domain" style="flex: 1 1 0%; min-width: 60px; min-height: 42px; padding: 0px 0.5em; 
                    border: 1px solid #d6d6d6; font-size: 1em; line-height: 20px; margin-right: 0px !important; 
                    margin-top: 0px !important; border-top-left-radius: 5px !important; border-top-right-radius: 0px !important; 
                    border-bottom-right-radius: 0px !important; border-bottom-left-radius: 5px !important;" 
                    autocomplete="off" placeholder="e.g. example.com" autocorrect="off" spellcheck="false" autocapitalize="off" type="text">
                    <input style="flex: 0 1 0%; min-width: 94px; width: 94px; padding: 0px 1em; font-size: 1em; line-height: 20px; 
                    text-align: center; border: 1px solid #000; color: rgb(255, 255, 255); 
                    text-shadow: rgb(109, 151, 150) 0px -1px 1px; background-color: #000; cursor: pointer; min-height: 42px !important; margin-left: 0px !important; margin-top: 0px !important; 
                    border-radius: 0px 5px 5px 0px !important;" value="Search" type="submit"> 
                    </div> 
                  </form> 
                  <div class="powerby"> 
                    <p style="margin: 1em 0px 0px; font-size: 0.75em; line-height: 1.25em; color: #f7f7f7; 
                    font-family: -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'fira sans', 'droid sans', 
                    'helvetica neue', sans-serif; text-align: left;">powered by <a id="ir_url" 
                    href="https://namecheap.pxf.io/c/2831101/386170/5618" target="_blank" style="font-weight: bold; 
                    color: #000; text-decoration: none;">Namecheap</a></p> </div> </div> <script>    !function(){ var e = document.querySelector("#ir_form"), n = document.querySelector("#ir_domain"), t = document.querySelector("#ir_link"); e.addEventListener("submit",function(o){ o.preventDefault(), t.value = "https://www.namecheap.com/domains/registration/results.aspx?domain="+n.value; if(e.domain.value === ""){ window.location.href = document.querySelector("#ir_url").href; } else{ e.submit(); } }); }();</script> 
              </div>
          </div>
          <div class="col-md-6 col-12 mx-auto d-flex home-img">
            <figure>
              <img src="{% static 'ecom/assets/img/header-img.png' %}" alt="header-img" />
            </figure>
          </div>
        </div>
      </section>
      <!-- Home Section End -->