{% extends 'ecom/base.html' %}
{% load static %}


{% block title %}
    Pricing Plan
{% endblock title %}


{% block main %}
    

    

<!-- Pricing Start -->
<section class="pricing section-padding">
    <div class="container" id="price">
      <div class="row justify-content-center">
        <div class="col-md-8 col-11">
          <div class="section-title">
            <h2>Pricing <span>Plan</span></h2>
          </div>
        </div>
      </div>
      <div class="row">


      {% for pricing in general_portfolio_price %}
  

  
        <div class="col-md-4 col-11 mx-auto">
          <div class="pricing-items">
            <div class="pricing-header">
              <h3>{{ pricing.package_name}}</h3>
            </div>
            <div class="pricing-price">
              <span class="currency">$</span>
              <span class="price">{{ pricing.price}}</span>
              <span class="domain">+Domain</span>
            </div>
            <div class="pricing-body">
              <ul>
           
                {% for featur in pricing.feature_ls %}
             
                <li><i class="fas fa-check"></i>{{featur}}</li>

                {% endfor %}
              </ul>
            </div>
            <div class="pricing-footer">
              <a href="{% url 'price_to_theme' pricing.id %}" class="btn btn-2">Get Started</a>
            </div>
          </div>
        </div>

        {% endfor %}






        {% for pricing in premium_portfolio_price %}
  

  
        <div class="col-md-4 col-11 mx-auto">
          <div class="pricing-items">
            <div class="pricing-header">
              <h3>{{ pricing.package_name}}</h3>
            </div>
            <div class="pricing-price">
              <span class="currency">$</span>
              <span class="price">{{ pricing.price}}</span>
              <span class="domain">+Domain</span>
            </div>
            <div class="pricing-body">
              <ul>
           
                {% for featur in pricing.feature_ls %}
             
                <li><i class="fas fa-check"></i>{{featur}}</li>

                {% endfor %}
              </ul>
            </div>
            <div class="pricing-footer">
              <a href="#" class="btn btn-2">Get Started</a>
            </div>
          </div>
        </div>

        {% endfor %}





      </div>
    </div>
  </section>
  <!-- Pricing End -->

  {% endblock main %}